/* 
// 서로 같은 파일 내에서 코드를 수정할 경우 컨플릭트 될 가능성이 높으므로
// css와 js파일을 새로 만들어 static폴더 안으로 격리시키겠습니다!

// 작성하시고 해당 html에다가 
// <link rel="stylesheet" type="text/css" href = "(css파일이름).css">

// js파일 임포트할때는 제이쿼리 임포트한거보다 밑줄에 둬야 한다고 합니다
// https://grace-go.tistory.com/59
// <script src=".js의 위치"></script> */

  body {
  font-family: 'Do Hyeon', sans-serif;
  }

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes text-shadow-pop-left {
  0% {
    text-shadow: 0 0 rgba(131, 24, 67), 0 0 rgba(131, 24, 67), 0 0 rgba(131, 24, 67), 0 0 rgba(131, 24, 67), 0 0 rgba(131, 24, 67), 0 0 rgba(131, 24, 67), 0 0 rgba(131, 24, 67), 0 0 rgba(131, 24, 67);
    transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 rgba(131, 24, 67), -2px 0 rgba(131, 24, 67), -3px 0 rgba(131, 24, 67), -4px 0 rgba(131, 24, 67), -5px 0 rgba(131, 24, 67), -6px 0 rgba(131, 24, 67), -7px 0 rgba(131, 24, 67), -8px 0 rgba(131, 24, 67);
    transform: translateX(8px);
  }
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(131, 24, 67);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(131, 24, 67);
  }
}

@keyframes text-shadow-drop-bottom {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  }
}





#btnheart:hover {
	animation: jello-horizontal 0.9s both;
}


#hsitag {
	animation: text-shadow-pop-left 0.6s both;
}


#budget:hover {
	animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#maintitle {
	animation: text-shadow-drop-bottom 0.6s both;
}