/* 
// 서로 같은 파일 내에서 코드를 수정할 경우 컨플릭트 될 가능성이 높으므로
// css와 js파일을 새로 만들어 static폴더 안으로 격리시키겠습니다!

// 작성하시고 해당 html에다가 
// <link rel="stylesheet" type="text/css" href = "(css파일이름).css">

// js파일 임포트할때는 제이쿼리 임포트한거보다 밑줄에 둬야 한다고 합니다
// https://grace-go.tistory.com/59
// <script src=".js의 위치"></script> */

  body {
  font-family: 'Do Hyeon', sans-serif;
  }

      #my_modal {
        display: none;
        width: 300px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }