<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>메인페이지</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0i27vl5n5q"></script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.3/dist/tailwind.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href = "../static/main.css">
    <link rel="stylesheet" type="text/js" href="../tailwind.config.js">
    <link rel="stylesheet" type="text/css" href="../static/modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
         $(document).ready(function () {

         });
                function home() {
                window.location.href = '/detail';
                };

                function logout() {
                window.location.href = '/index';
        };
                function detail2() {
                window.location.href = '/detail2';
                };

        function user_register() {
            let firstname = $('#firstname').val();
            let sex = $('#sex').val();
            let regi_email = $('#regi_email').val();
            let regi_password = $('#regi_password').val();
            let password_confirm = $('#password_confirm').val();

            $.ajax({
                type: 'POST',
                url: '/user_register',
                data: {
                    firstname_give: firstname, sex_give: sex, regi_email_give: regi_email,
                    regi_password_give: regi_password, password_confirm_give: password_confirm
                },
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload();
                }
            });
        }

    </script>

</head>
<body>

    <section class="min-h-screen flex items-stretch text-black ">
        <div class="lg:flex w-1/2 hidden bg-pink-100 bg-no-repeat bg-cover relative items-center" style="background-image: url(https://lh3.googleusercontent.com/y7Zn0sIoKwq9BouybUwypyGjbY3eUc2x7zN4RofkA26nwkV66rhumDq_tZ588zNSeMCf1qGfCDDmaR_vzA91p6YK0Jm0AwT9EzOSBb2oophWdAaa1TEggWfze7v-snSiIGZk0MsVYr1B_mFNWrcmpScAuA9E3AmPnFMUWxji4JFSOJn5jXxMJcHVRSqUMuRhvDNBBQO13QL8swnGwis8wlxFbCjOhRxKYAGZS6nYdinfQCU-WEw5P2VKIK4zVPqPduM3em54J9CY-kDdAzhCMsOZFxXDz7C9HxEdNoBPoqgaIw8BnPzyK-xAWQHirK4Z3DcT0QlBH-yC9MCe7ze90zugPA4C-LOewLQk9H7AoJNYpcXEAEjiD0puyCxOkESMXwVOWNrfWQdNAM0a4m5bbwaWlQMwBubl7eySgSchZ2nG-6DE7o4zRxymS3GlQ2kv0aikM58yozehwt37WAdgxPnUGO9bxUTvMSJAEUHrpxUwUFfz2vaRQMsew2DrTqbdmyYJgE18HkvxN8eKJNshvHiDyY8RfhjdtPL2C24NMu0Hc3Ccd4bS2qxqRinQYZo8oFfZ_mXZbcn636w-HpvLYlTp6vY2c_8AFjixRTw0kcxMIbNrY3owScZXeSuAO1bcnDuLpz6p6-j40hKUTq_5MMduOnLGgmL3uIbu7fRKDnCerqTiIMZ8WjBaXu0GS8JdYTiCnKXxr3QU-D_oIDgnSqU=s328-no?authuser=0);">
            <div class="absolute inset-0 z-0 overflow-hidden">
            <img id="texts_on" class="z-index: -1;" src="https://lh3.googleusercontent.com/JUhN1BZU5qwAhHHO2iw8F777tSKBMMUUnNmobRI9rBJG-7UfmRPGDqYDAebhmuTvf_Lm5yV9U4TIbFwEGC-62mpCsSPuJCSdKnfJV5NZCe5I59dWOPprvQowVV16moa4xcBP8D202-UpSFQVLm7oVsBHSORwNMLp5Nj0YzgRhnd12zq9a2qq6F9m5IcCJqGj4uyM951_TX6iDUbnZGX1V8LRL23tr876Io4P_KD2Ua0Afk62EvOzhXo2y8mxc7bbpVbEHlU_2Cnw-84uJ8f5WmrMzYU5158J5D_HyePj9NtBsuuz3S5RaFDGCf2JaFMawu0k1P-wTWrXy60q9UMezoRemteJed8wq_VfE4zT1BSkexIEjgKr8RZ_pyfTcYPcV4deMRXPjGkHInX5B6sZyldjr6PIBCeDDbexwkSL-WgbBDusXxEY-_9JGBPeK72HqJ-2KsALcUTfbOHa_kNmQ4ORl_nlDNp-9VMH9x5umvpTE803vztC44-WyBbbGSnvAHSUuMt1z1grBst_tQrADgEk2atWMrHrk2nxy6L7GOsgGu5ktf1w_VjpmWctB5jOTn_Px7ytfCoGybZWC-DbL_nBOFoiz9nFVAolu8ZCgfaybYXGSa0Mt0_iwkz1knw-rE8v2ZyY2w8Q5hN5TwNBJ-aW8UGkE2ews6Ck1eQ2mbMPP_Vg3QQGJoGEA5mhfot_18pdo_3sklqa4Zr7QFJVaRw=s866-no?authuser=0" alt="">
            </div>
            <div class="w-full px-24 z-10">
                <!-- <h1 class="text-5xl font-bold text-left tracking-wide">들어갈말 고르기</h1> -->
                <!-- <p class="text-3xl my-4">들어갈 간단한 설명</p> -->
            </div>
            <div class="bottom-0 absolute p-4 text-center right-0 left-0 flex justify-center space-x-4">
                
            </div>
        </div>

        
        <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0" style="background-color: #ffffff;">
            <div class="absolute lg:hidden z-10 inset-0 bg-pink-200 bg-no-repeat bg-cover items-center" style="background-image: url(../main.png);">
                <div class="absolute bg-black opacity-10 inset-0 z-0"></div>
            </div>
            <div class="w-full py-4 z-20">
                <h1 class="my-4 text-5xl"><span class="text-pink-700">SS</span>umbarota<br> <span class="text-8xl">연애조작단</span>
                </h1>
                <div class="py-1 space-x-2">
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-black">f</span>
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-black">G+</span>
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-black">in</span>
                </div>
                <p class="text-gray-500">
                    or use email your account
                </p>
              
              
                {% if login == True %}
                <h3>로그인에 성공하였습니다. {{username}}님 어서오세요!</h3>
                <div class="px-2 pb-2 pt-2 p-2 w-full lg:px-0 mx-auto"></div>
                <button class="uppercase block w-full p-2 text-lg rounded-full bg-pink-500 hover:bg-pink-600  focus:outline-none text-white" onclick="home();">시작하기</button>
                </div>
                <a href= {{url_for("logout")}}>로그아웃</a>
                {% else %}
                <form methods = "get" id="login" action={{url_for("login")}} class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto">
                    <div class="pb-2 pt-2">
                        <input type="email" name="email" id="email" placeholder="Email" class="block w-full p-4 text-lg rounded-sm bg-gray-100">
                    </div>
                    <div class="pb-2 pt-2">
                        <input class="block w-full p-4 text-lg rounded-sm bg-gray-100" type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="cursor-pointer text-right text-gray-400 hover:underline hover:text-gray-100">
		                <a onclick="openModal('main-modal')">회원가입하러가기</a>
                    </div>

                    
                    <div class="px-2 pb-2 pt-2 relative flex-auto">
                        <button id="btnheart" type="submit" class="uppercase w-full p-2 text-lg rounded-full bg-pink-500 hover:bg-pink-600 focus:outline-none text-white">sign in</button>
                        <div>

                    <div class="px-2 pb-2 pt-2 p-2 w-full lg:px-0 mx-auto">
                    <!-- <a href="./detail.html"> -->
                    <button id="btnheart" class="uppercase block w-full p-2 text-lg rounded-full bg-pink-500 hover:bg-pink-600  focus:outline-none text-white" onclick="detail2();">지금 바로보기</button>
                <!-- </a> -->

                </div>

                </div>
                </div>

                    </div>
                   
                    <div class="p-4 text-center right-0 left-0 flex justify-center space-x-4 mt-16 lg:hidden ">

                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        


	<div class="main-modal fixed w-full inset-0 z-50 flex justify-center items-center animated fadeIn faster overflow-auto" style="background: rgba(0,0,0,.7);">
		<div class="grid place-items-center">
			<div class="w-10/12 px-10 py-6 bg-white sm:w-11/12 lg:w-11/12 xs:w-1 rounded-md">
			<div class="lg:px-0 font-bold capitalize mt-2 flex p-1 m-1">
            <span class= "text-pink-900 text-2xl">SS</span><span class="font-thin text-xl text-pink-200">umbarota<span class="pl-1 text-gray-500">registration</span>
</span>
            </div>
            
			  <form class="mt-6">
				<div class="flex justify-between gap-3">
				  <span class="">
					<label for="firstname" class="block text-xs font-semibold text-gray-600 uppercase">이름</label>
					<input id="firstname" type="text" name="firstname" placeholder="홍길동" autocomplete="given-name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
				  </span>
				  <span class="w-1/2">
					<label for="sex" class="block text-xs font-semibold text-gray-600 uppercase">성별</label>
				  <input id="sex" type="text" name="sex" placeholder="선택입력" autocomplete="given-sex" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
				  </span>
				</div>
				<label for="regi_email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">ID</label>
				<input id="regi_email" type="email" name="regi_email" placeholder="Id는 이메일 형식을 사용해주세요" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
				<label for="regi_password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
				<input id="regi_password" type="password" name="regi_password" placeholder="자주쓰는 비밀번호는 사용하지 말아주세요" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
				<label for="password_confirm" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Confirm password</label>
				<input id="password_confirm" type="password" name="password_confirm" placeholder="비밀번호를 한 번 더 입력해주세요" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
				<div class="">

				<button type="submit" class="w-full py-3 mt-3 font-medium tracking-widest text-white uppercase bg-pink-300 shadow-lg focus:outline-none hover:bg-pink-500 hover:shadow-none rounded-3xl" onclick="user_register()">
				  가입하기
				</button>
			  </div>
			  </form>
                <button onclick="modalClose('main-modal')" class="w-full py-3 mt-3 font-medium tracking-widest text-white uppercase bg-gray-500 shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none rounded-3xl">
				  취소
				</button>
			</div>
		  </div>
	</div>
        <div class="another-modal">
        수정
                    </div>
</div>


    </section>
    <link rel="stylesheet" type="text/js" href="../static/modal.js">
	<script>
        all_modals = ['main-modal', 'another-modal']
        all_modals.forEach((modal)=>{
            const modalSelected = document.querySelector('.'+modal);
            modalSelected.classList.remove('fadeIn');
            modalSelected.classList.add('fadeOut');
            modalSelected.style.display = 'none';
        })
        const modalClose = (modal) => {
            const modalToClose = document.querySelector('.'+modal);
            modalToClose.classList.remove('fadeIn');
            modalToClose.classList.add('fadeOut');
            setTimeout(() => {
                modalToClose.style.display = 'none';
            }, 500);
        }

        const openModal = (modal) => {
            const modalToOpen = document.querySelector('.'+modal);
            modalToOpen.classList.remove('fadeOut');
            modalToOpen.classList.add('fadeIn');
            modalToOpen.style.display = 'flex';
        }

	</script>
</body>
</html>