<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css" rel="stylesheet">

    <script>
         $(document).ready(function () {
            showReview();
         });

         function showReview() {
            $.ajax({
                type: 'GET',
                url: '/review',
                data: {},
                success: function (response) {
                    let reviews = response['reviews'];

                    for(let i = 0 ; i < reviews.length; i ++) {
                        let course_name = reviews[i]['course_name'];
                        let thema = reviews[i]['thema'];
                        let hashtag = reviews[i]['hashtag'];
                        let start_spot = reviews[i]['start_spot'];
                        let via_spot = reviews[i]['via_spot'];
                        let end_spot = reviews[i]['end_spot'];
                        let contents = reviews[i]['contents'];
                        let like = reviews[i]['like'];
                    }
                }
            });
        }
        //탐색하기 버튼 클릭 시 지도 보여주기
        function showMap() {
            window.location.href = '/reviews';
        }
        function home() {
            window.location.href = '/detail';
        }

    </script>
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSumbarota 연애조작단 - 모아보기</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net



/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href = "../static/main.css">
</head>

<style>
  body {
  font-family: 'Do Hyeon', sans-serif;
  }
</style>
<body>

<!-- https://alpinejs.dev/directives/data -->
    <div class="flex h-screen w-full bg-pink-100" x-data="{openMenu:1}">
        <!--Start SideBar 사이드바 aside는 사이드메뉴 담는 태그래여-->
        <aside class="w-20 relative z-20 flex-shrink-0  px-2 overflow-y-auto bg-pink-600 sm:block">
            <div class="mb-6">
                <!--Start logo 사이드바 안에 있는 컨텐츠들입니다 -->
                <div class="flex justify-center">
                
                  <div class="w-14 h-14 rounded-full bg-white border-2 border-white mt-2
                  " @click="openMenu !== 1 ? openMenu = 1 : openMenu = null">
                    <!-- 유저프로필 -->
                    <img 
                      src="https://stickershop.line-scdn.net/stickershop/v1/product/8543/LINEStorePC/main.png;compress=true" 
                     class="rounded-full w-auto"
                    />
                  </div>
                </div>
                <!-- 로고 밑에 아이콘들 -->
                

            </div>
        </aside>
        <!-- 보라색 누르면 나오는 메뉴 -->
        <aside class="animate__animated animate__fadeInLeft w-52 relative z-0 flex-shrink-0 hidden px-4 overflow-y-auto bg-pink-200 sm:block " 
               x-show="openMenu ==  1" 

               style="display: none;">
            <div class="mb-6">
              <!--오픈메뉴 함수로 열리는 메뉴들 -->
              <div class="grid grid-cols-1 gap-4 mt-6">
                <!-- 아이콘은 같은회사꺼 씁니다 -->

<!-- <a href="./result.html"> -->
                <div class="p-2 flex flex-col items-center bg-white rounded-md justify-center shadow-xl cursor-pointer transform hover:-translate-y-1 hover:scale-110" onclick="home();" >
                  
                <div class="rounded-full p-2 bg-pink-200 flex flex-col items-center">
                    <i class="fas fa-chart-pie fa-sm text-pink-500"></i>
                  </div>
                  <p class="text-xs mt-1 text-center font-semibold">홈으로가기</p>
                </div>
                <!-- </a> -->
              
<!-- <a href ="./result.html"> -->
                <div class="p-2 flex flex-col items-center bg-white rounded-md justify-center shadow-xl cursor-pointer transform hover:-translate-y-1 hover:scale-110"  @click="openMenu !== 3 ? openMenu = 3 : openMenu = null ">
                  <div class="rounded-full p-2 bg-pink-200 flex flex-col items-center">
                    <i class="fas fa-calculator fa-sm text-pink-500"></i>
                  </div>
                  <p class="text-xs mt-1 text-center font-semibold ">디렉터추천</p>
                </div>
<!-- </a> -->


                <div class="p-2 flex flex-col items-center bg-white rounded-md justify-center shadow-xl cursor-pointer transform hover:-translate-y-1 hover:scale-110" @click="openMenu !== 5 ? openMenu = 5 : openMenu = null">
                  <div class="rounded-full p-2 bg-pink-200 flex flex-col items-center">
                    <i class="fas fa-archive fa-sm text-pink-500"></i>
                  </div>
                  <p class="text-xs mt-1 text-center font-semibold">추운날테마</p>
                </div>

                                <div class="p-2 flex flex-col items-center bg-white rounded-md justify-center shadow-xl cursor-pointer transform hover:-translate-y-1 hover:scale-110" @click="openMenu !== 5 ? openMenu = 5 : openMenu = null">
                  <div class="rounded-full p-2 bg-pink-200 flex flex-col items-center">
                    <i class="fas fa-archive fa-sm text-pink-500"></i>
                  </div>
                  <p class="text-xs mt-1 text-center font-semibold">실내테마</p>
                </div>
              </div>
            </div>
        </aside>
                <!-- Start Navitem -->

 


    


        <!-- End Sidebar -->

        <div class="flex flex-col flex-1 w-full overflow-y-auto">
            <!-- 상단바입니다 -->
            <!--End Topbar -->
          <main class="relative z-0 flex-1 pb-8 px-6 bg-white">
              <div class="grid pb-10  mt-4 ">
                  <!-- Start Content-->
                    <div class="mb-2">
                      <p class="text-lg font-semibold text-gray-400  mb-2">2021년 11월 01일 [$동작]구의 핫플레이스 💕
                      
<form action="" class="flex justify-center bg-white rounded-xl border-2 overflow-hidden">
    <input type="search" placeholder="Search..." class="block rounded-md border-0 focus:outline-none focus:ring-0 focus:border-blue-500 flex-grow p-2">
    <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 my-auto m-2" style="color: gray" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
    </button>
</form>


                      </p>
                    </div>

                    <!-- 카드 -->
                    <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3 ">
                        <!-- 지도이미지 칸 -->
                      <div class="relative w-full h-52 col-span-2 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://previews.123rf.com/images/bbtreesubmission/bbtreesubmission1711/bbtreesubmission171101757/90255038-%EA%B4%80%EA%B4%91-%EB%AA%85%EC%86%8C%EA%B0%80%EC%9E%88%EB%8A%94-%EC%84%9C%EC%9A%B8%EC%A7%80%EB%8F%84.jpg');">
                          
                          <div class="absolute inset-0 bg-pink-200 bg-opacity-70 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
                            <div>
                              <h3 class="text-center text-white text-lg">
                                   좋아요 45,941
                              </h3>
                              <h3 class="text-center text-white text-3xl mt-2 font-bold">
                                   롯데월드 데이트 코스
                              </h3>
                              <div class="flex space-x-4 mt-4">
                                 <button class="block uppercase mx-auto shadow bg-white text-pink-600 focus:shadow-outline hover:bg-pink-100
                                  focus:outline-none  text-xs py-3 px-4 rounded font-bold" onclick="showMap()">
                                  탐색하기
                                </button>
                                <button class="block uppercase mx-auto shadow bg-pink-500 hover:bg-pink-700 focus:shadow-outline 
                                   focus:outline-none text-white text-xs py-3 px-4 rounded font-bold">
                                  댓글보기
                                </button>
                              </div>
                            </div>
                          </div>
                      </div>
                       
                      <!-- 순위같은거 있으면 좋으려나 -->
                       <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://thumb.ac-illust.com/t/2c/2c40d6f3ff7d70a8d60d450e10a9bfb7_t.jpeg');">
                          <div class="absolute inset-0 bg-pink-500 bg-opacity-75 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                          
                            <div>
                              <div class="text-white text-lg flex space-x-2 items-center">
                                <div class="bg-white rounded-md p-2 flex items-center">
                                  <i class="fas fa fa-address-card fa-sm text-pink-600"></i>
                                </div>
                                <p>이 코스의 순위는?</p>
                              </div>
                              <h3 class="text-white text-3xl mt-2 font-bold">
                                  1위
                              </h3>
                               <h3 class="text-white text-lg mt-2 ">
                                 2위 - 강남 원데이 클래스 체험<br>
                                 3위 - 홍대 방탈출 카페 순회
                              </h3>
                 <!-- 클릭해서 바로 옮겨가기있으면 좋겠 -->
                            </div>
                          </div>
                      </div>        
                    </div>

                                        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3 ">
                        <!-- 지도이미지 칸 -->
                      <div class="relative w-full h-52 col-span-2 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://previews.123rf.com/images/bbtreesubmission/bbtreesubmission1711/bbtreesubmission171101757/90255038-%EA%B4%80%EA%B4%91-%EB%AA%85%EC%86%8C%EA%B0%80%EC%9E%88%EB%8A%94-%EC%84%9C%EC%9A%B8%EC%A7%80%EB%8F%84.jpg');">
                          
                          <div class="absolute inset-0 bg-pink-200 bg-opacity-70 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
                            <div>
                              <h3 class="text-center text-white text-lg">
                                   좋아요 42,001
                              </h3>
                              <h3 class="text-center text-white text-3xl mt-2 font-bold">
                                   한강공원 데이트 코스
                              </h3>
                              <div class="flex space-x-4 mt-4">
                                 <button class="block uppercase mx-auto shadow bg-white text-pink-600 focus:shadow-outline hover:bg-pink-100
                                  focus:outline-none  text-xs py-3 px-4 rounded font-bold">
                                  탐색하기
                                </button>
                                <button class="block uppercase mx-auto shadow bg-pink-500 hover:bg-pink-700 focus:shadow-outline 
                                   focus:outline-none text-white text-xs py-3 px-4 rounded font-bold">
                                  댓글보기
                                </button>
                              </div>
                            </div>
                          </div>
                      </div>
                       
                      <!-- 순위같은거 있으면 좋으려나 -->
                       <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://thumb.ac-illust.com/t/2c/2c40d6f3ff7d70a8d60d450e10a9bfb7_t.jpeg');">
                          <div class="absolute inset-0 bg-pink-500 bg-opacity-75 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                          
                            <div>
                              <div class="text-white text-lg flex space-x-2 items-center">
                                <div class="bg-white rounded-md p-2 flex items-center">
                                  <i class="fas fa fa-address-card fa-sm text-pink-600"></i>
                                </div>
                                <p>이 코스의 순위는?</p>
                              </div>
                              <h3 class="text-white text-3xl mt-2 font-bold">
                                  4위
                              </h3>
                               <h3 class="text-white text-lg mt-2 ">
                                 5위 - 뭐가 있을까<br>
                                 6위 - 나중에 자료조사하는걸로
                              </h3>
                 <!-- 클릭해서 바로 옮겨가기있으면 좋겠 -->
                            </div>
                          </div>
                      </div>        
                    </div>
                    
                  <!-- End Content-->

                                      <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3 ">
                        <!-- 지도이미지 칸 -->
                      <div class="relative w-full h-52 col-span-2 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://previews.123rf.com/images/bbtreesubmission/bbtreesubmission1711/bbtreesubmission171101757/90255038-%EA%B4%80%EA%B4%91-%EB%AA%85%EC%86%8C%EA%B0%80%EC%9E%88%EB%8A%94-%EC%84%9C%EC%9A%B8%EC%A7%80%EB%8F%84.jpg');">
                          
                          <div class="absolute inset-0 bg-pink-200 bg-opacity-70 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
                            <div>
                              <h3 class="text-center text-white text-lg">
                                   좋아요 45,941
                              </h3>
                              <h3 class="text-center text-white text-3xl mt-2 font-bold">
                                   롯데월드 데이트 코스
                              </h3>
                              <div class="flex space-x-4 mt-4">
                                 <button class="block uppercase mx-auto shadow bg-white text-pink-600 focus:shadow-outline hover:bg-pink-100
                                  focus:outline-none  text-xs py-3 px-4 rounded font-bold" onclick="showMap()">
                                  탐색하기
                                </button>
                                <button class="block uppercase mx-auto shadow bg-pink-500 hover:bg-pink-700 focus:shadow-outline 
                                   focus:outline-none text-white text-xs py-3 px-4 rounded font-bold">
                                  댓글보기
                                </button>
                              </div>
                            </div>
                          </div>
                      </div>
                       
                      <!-- 순위같은거 있으면 좋으려나 -->
                       <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://thumb.ac-illust.com/t/2c/2c40d6f3ff7d70a8d60d450e10a9bfb7_t.jpeg');">
                          <div class="absolute inset-0 bg-pink-500 bg-opacity-75 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                          
                            <div>
                              <div class="text-white text-lg flex space-x-2 items-center">
                                <div class="bg-white rounded-md p-2 flex items-center">
                                  <i class="fas fa fa-address-card fa-sm text-pink-600"></i>
                                </div>
                                <p>이 코스의 순위는?</p>
                              </div>
                              <h3 class="text-white text-3xl mt-2 font-bold">
                                  1위
                              </h3>
                               <h3 class="text-white text-lg mt-2 ">
                                 2위 - 강남 원데이 클래스 체험<br>
                                 3위 - 홍대 방탈출 카페 순회
                              </h3>
                 <!-- 클릭해서 바로 옮겨가기있으면 좋겠 -->
                            </div>
                          </div>
                      </div>        
                    </div>

                                        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3 ">
                        <!-- 지도이미지 칸 -->
                      <div class="relative w-full h-52 col-span-2 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://previews.123rf.com/images/bbtreesubmission/bbtreesubmission1711/bbtreesubmission171101757/90255038-%EA%B4%80%EA%B4%91-%EB%AA%85%EC%86%8C%EA%B0%80%EC%9E%88%EB%8A%94-%EC%84%9C%EC%9A%B8%EC%A7%80%EB%8F%84.jpg');">
                          
                          <div class="absolute inset-0 bg-pink-200 bg-opacity-70 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
                            <div>
                              <h3 class="text-center text-white text-lg">
                                   좋아요 42,001
                              </h3>
                              <h3 class="text-center text-white text-3xl mt-2 font-bold">
                                   한강공원 데이트 코스
                              </h3>
                              <div class="flex space-x-4 mt-4">
                                 <button class="block uppercase mx-auto shadow bg-white text-pink-600 focus:shadow-outline hover:bg-pink-100
                                  focus:outline-none  text-xs py-3 px-4 rounded font-bold">
                                  탐색하기
                                </button>
                                <button class="block uppercase mx-auto shadow bg-pink-500 hover:bg-pink-700 focus:shadow-outline 
                                   focus:outline-none text-white text-xs py-3 px-4 rounded font-bold">
                                  댓글보기
                                </button>
                              </div>
                            </div>
                          </div>
                      </div>
                       
                      <!-- 순위같은거 있으면 좋으려나 -->
                       <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://thumb.ac-illust.com/t/2c/2c40d6f3ff7d70a8d60d450e10a9bfb7_t.jpeg');">
                          <div class="absolute inset-0 bg-pink-500 bg-opacity-75 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                          
                            <div>
                              <div class="text-white text-lg flex space-x-2 items-center">
                                <div class="bg-white rounded-md p-2 flex items-center">
                                  <i class="fas fa fa-address-card fa-sm text-pink-600"></i>
                                </div>
                                <p>이 코스의 순위는?</p>
                              </div>
                              <h3 class="text-white text-3xl mt-2 font-bold">
                                  4위
                              </h3>
                               <h3 class="text-white text-lg mt-2 ">
                                 5위 - 뭐가 있을까<br>
                                 6위 - 나중에 자료조사하는걸로
                              </h3>
                 <!-- 클릭해서 바로 옮겨가기있으면 좋겠 -->
                            </div>
                          </div>
                      </div>        
                    </div>

                                        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3 ">
                        <!-- 지도이미지 칸 -->
                      <div class="relative w-full h-52 col-span-2 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://previews.123rf.com/images/bbtreesubmission/bbtreesubmission1711/bbtreesubmission171101757/90255038-%EA%B4%80%EA%B4%91-%EB%AA%85%EC%86%8C%EA%B0%80%EC%9E%88%EB%8A%94-%EC%84%9C%EC%9A%B8%EC%A7%80%EB%8F%84.jpg');">
                          
                          <div class="absolute inset-0 bg-pink-200 bg-opacity-70 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
                            <div>
                              <h3 class="text-center text-white text-lg">
                                   좋아요 45,941
                              </h3>
                              <h3 class="text-center text-white text-3xl mt-2 font-bold">
                                   롯데월드 데이트 코스
                              </h3>
                              <div class="flex space-x-4 mt-4">
                                 <button class="block uppercase mx-auto shadow bg-white text-pink-600 focus:shadow-outline hover:bg-pink-100
                                  focus:outline-none  text-xs py-3 px-4 rounded font-bold" onclick="showMap()">
                                  탐색하기
                                </button>
                                <button class="block uppercase mx-auto shadow bg-pink-500 hover:bg-pink-700 focus:shadow-outline 
                                   focus:outline-none text-white text-xs py-3 px-4 rounded font-bold">
                                  댓글보기
                                </button>
                              </div>
                            </div>
                          </div>
                      </div>
                       
                      <!-- 순위같은거 있으면 좋으려나 -->
                       <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://thumb.ac-illust.com/t/2c/2c40d6f3ff7d70a8d60d450e10a9bfb7_t.jpeg');">
                          <div class="absolute inset-0 bg-pink-500 bg-opacity-75 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                          
                            <div>
                              <div class="text-white text-lg flex space-x-2 items-center">
                                <div class="bg-white rounded-md p-2 flex items-center">
                                  <i class="fas fa fa-address-card fa-sm text-pink-600"></i>
                                </div>
                                <p>이 코스의 순위는?</p>
                              </div>
                              <h3 class="text-white text-3xl mt-2 font-bold">
                                  1위
                              </h3>
                               <h3 class="text-white text-lg mt-2 ">
                                 2위 - 강남 원데이 클래스 체험<br>
                                 3위 - 홍대 방탈출 카페 순회
                              </h3>
                 <!-- 클릭해서 바로 옮겨가기있으면 좋겠 -->
                            </div>
                          </div>
                      </div>        
                    </div>

                                        <div class="grid grid-cols-1 gap-2 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 mt-3 ">
                        <!-- 지도이미지 칸 -->
                      <div class="relative w-full h-52 col-span-2 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://previews.123rf.com/images/bbtreesubmission/bbtreesubmission1711/bbtreesubmission171101757/90255038-%EA%B4%80%EA%B4%91-%EB%AA%85%EC%86%8C%EA%B0%80%EC%9E%88%EB%8A%94-%EC%84%9C%EC%9A%B8%EC%A7%80%EB%8F%84.jpg');">
                          
                          <div class="absolute inset-0 bg-pink-200 bg-opacity-70 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center justify-center">
                            <div>
                              <h3 class="text-center text-white text-lg">
                                   좋아요 42,001
                              </h3>
                              <h3 class="text-center text-white text-3xl mt-2 font-bold">
                                   한강공원 데이트 코스
                              </h3>
                              <div class="flex space-x-4 mt-4">
                                 <button class="block uppercase mx-auto shadow bg-white text-pink-600 focus:shadow-outline hover:bg-pink-100
                                  focus:outline-none  text-xs py-3 px-4 rounded font-bold">
                                  탐색하기
                                </button>
                                <button class="block uppercase mx-auto shadow bg-pink-500 hover:bg-pink-700 focus:shadow-outline 
                                   focus:outline-none text-white text-xs py-3 px-4 rounded font-bold">
                                  댓글보기
                                </button>
                              </div>
                            </div>
                          </div>
                      </div>
                       
                      <!-- 순위같은거 있으면 좋으려나 -->
                       <div class="relative w-full h-52 bg-cover bg-center group rounded-lg overflow-hidden shadow-lg transition duration-300 ease-in-out"
                        style="background-image: url('https://thumb.ac-illust.com/t/2c/2c40d6f3ff7d70a8d60d450e10a9bfb7_t.jpeg');">
                          <div class="absolute inset-0 bg-pink-500 bg-opacity-75 transition duration-300 ease-in-out"></div>
                          <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex items-center">
                          
                            <div>
                              <div class="text-white text-lg flex space-x-2 items-center">
                                <div class="bg-white rounded-md p-2 flex items-center">
                                  <i class="fas fa fa-address-card fa-sm text-pink-600"></i>
                                </div>
                                <p>이 코스의 순위는?</p>
                              </div>
                              <h3 class="text-white text-3xl mt-2 font-bold">
                                  4위
                              </h3>
                               <h3 class="text-white text-lg mt-2 ">
                                 5위 - 뭐가 있을까<br>
                                 6위 - 나중에 자료조사하는걸로
                              </h3>
                 <!-- 클릭해서 바로 옮겨가기있으면 좋겠 -->
                            </div>
                          </div>
                      </div>        
                    </div>
              </div>
            
          </main>
        </div>
    </div>
</body>
</body>
</html>
